.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces, .cabecera .barra_principal, .cabecera .barra_principal ul, .cabecera .barra_principal ul li, .cabecera .barra_principal ul li a, .cabecera .barra_principal .buscar, .cabecera .barra_menu, .menu_principal, .menu_principal #navbarNav, .menu_principal ul, .page-template-template-homepage .contenido #iconos, .page-template-template-homepage .contenido #categorias .lista .columna, .page-template-template-homepage .contenido #categorias .lista .columna .grupo, #contacto .info1, #contacto .info_contacto .contenedor, #contacto .info_contacto .contenedor .enlaces .grupo, #contacto .info_contacto .contenedor .enlaces .grupo .enlace, #contacto .info_contacto .contenedor .logostarjetas, .site-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cabecera, .cabecera .barra_principal .buscar .label, .cabecera .barra_principal .buscar .imagen, .page-template-template-homepage .contenido, .page-template-template-homepage .contenido #iconos a, .page-template-template-homepage .contenido #categorias .lista, .page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento, .page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage #page main, #contacto, #contacto .info1 .elemento, #contacto .info_contacto, #contacto .info_contacto .contenedor .enlaces {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@font-face {
  font-family: "arl";
  src: url("../fonts/ARLRDBD.TTF") format("truetype");
}

@font-face {
  font-family: "bahn";
  src: url("../fonts/BAHNSCHRIFT 1.TTF") format("truetype");
}

@font-face {
  font-family: "frabk";
  src: url("../fonts/FRABK.TTF") format("truetype");
}

@font-face {
  font-family: "mont-bold";
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "mont";
  src: url("../fonts/Montserrat-Medium.ttf") format("tretype");
}

@font-face {
  font-family: "segoe";
  src: url("../fonts/segoe-ui-light-2.ttf") format("truetype");
}

@font-face {
  font-family: "bebas";
  src: url("../fonts/Bebas.otf") format("truetype");
}

.t-white {
  color: #ffffff;
}

.t-black {
  color: #000000;
}

.b-white {
  background-color: #ffffff;
}

.b-black {
  background-color: #000000;
}
.t-blue{
  color: #2f5274;
}

.t-black__hover:hover {
  color: #000000;
}

.t-white__hover:hover {
  color: #ffffff;
}

/* 
*******************************************************************************************
-----------------------------------------  generales --------------------------------------   
*******************************************************************************************
*/
.boton-shadow {
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
          box-shadow: 0 4px 9px rgba(0, 0, 0, 0.4);
  /*Sombra leve*/
  border-radius: 2px;
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
}

.boton-shadow:hover, .boton-shadow:active {
  -webkit-box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 9px 10px rgba(0, 0, 0, 0.4);
}

.hidden {
  display: none;
}

.title__section {
  width: 100%;
  position: relative;
    display: inline-block;
    left: 10%;
    top: 50px;
}

.title__section h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section img {
  width: 16% !important;
  height: 100%;
}

.title__section input {
  width: 30% !important;
  height: 100%;
}



.juas{
  display: flex;
}

.juas2{
  display: flex;
  padding-top: 10rem !important;
}



.title__section2 {
  width: 100%;
  position: relative;
    display: inline-block;
    left: 20%;
    top: 50px;
}

.title__section2 h2 {
  text-transform: uppercase;
  font-family: "arl";
  color: black;
  margin-left: 2rem;
}

.title__section2 img {
  width: 16% !important;
  height: 100%;
}

.title__section2 input {
  width: 30% !important;
  height: 100%;
}















.title__section3 {
  width: 100%;
  position: absolute;
    display: contents;
    /*left: 65%;
    top: 250px;*/
}

.title__section3 h2 {
  text-transform: uppercase;
  font-family: "bebas";
  color: white;
  margin-left: 70rem !important;
  font-size: 4rem !important;
  padding-top: 1rem !important;
}

.title__section3 img {
  width: 16% !important;
  height: 100%;
}

.title__section3 input {
  width: 30% !important;
  height: 100%;
}










.title__section4 {
  width: 100%;
  position: absolute;
    display: contents;
  /*  left: 77%;
    top: 185px;*/
}

.title__section4 h2 {
  text-transform: uppercase;
  font-family: "bebas";
  color: white;
  margin-left: 6rem;
}

.title__section4 img {
  width: 16% !important;
  height: 100%;
}

.title__section4 input {
  width: 12% !important;
  height: 100%;
}



















.title__section5 {
  width: 100%;
  position: absolute;
    display: contents;
    /*left: 35%;
    top: 185px;*/
}

.title__section5 h2 {
  text-transform: uppercase;
  font-family: "bebas";
  color: white;
  margin-left: 6rem;
}

.title__section5 img {
  width: 16% !important;
  height: 100%;
}

.title__section5 input {
  width: 12% !important;
  height: 100%;
}







.clase  {
  background-color: #0a0a0a;
  height: 700px;
}

.clase h1 {
  padding-top: 2%;
  font-size: 4rem;
  padding-left: 43%;
  text-transform: uppercase;
  font-family: "bebas";
  color: #ffffff;
}

body {
  /* font-family: Arial; */
  font-family: "Montserrat";
}

#masthead {
  display: none;
}

.storefront-product-section {
  display: none;
}


.texto-encima{
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
}
.centrado{
  position: absolute;
  top: 51%;
  left: 7.8% !important;
  color: #ffffff;
  font-family: bebas;
  font-size: 3.5rem !important;
  transform: translate(-50%, -50%);
}

.centrado a{
  color: #ffffff;
  font-family: bebas;
  font-size: 2.7rem !important;
  transform: translate(-50%, -50%);
}

/* 
*******************************************************************************************
-----------------------------------------  header -----------------------------------------   
*******************************************************************************************
*/
.cabecera {
  width: 100%;
  display: inherit;
}

.cabecera .barra_principal {
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: #061a7a;
  background-image: url(../images/inicioinicio.png);
  background-size: 100% 100%;
  padding: 1rem 0.5rem;
}

.cabecera .barra_principal ul {
  list-style: none;
  margin: 0;
  height: 2rem;
}

.cabecera .barra_principal ul li {
  
  height: 100%;
  padding: 1.5rem 0.5rem;
}

.cabecera .barra_principal ul li a {
  margin: 0 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: white;
  text-transform: uppercase;
  font-family: "segoe";
  text-decoration: none;
}

.cabecera .barra_principal ul li a img {
  margin-right: 0.4rem;
  width: 2rem;
}

.cabecera .barra_principal ul li:last-child {
  border-right: none;
}

.cabecera .barra_principal ul li:hover a {
  color: rgba(255, 255, 255, 0.726);
}

.cabecera .barra_principal .buscar {
  width: 100%;
}

.cabecera .barra_principal .buscar .label {
  background-color: white;
  height: 2rem;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 0 0.7rem;
  text-transform: uppercase;
  color: gray;
  filter: alpha(opacity=50);
}

.cabecera .barra_principal .buscar form {
  margin-bottom: 0;
  width: 60%;
}

.cabecera .barra_principal .buscar input {
  text-transform: none;
  width: 100%;
  height: 2rem;
  background-color: white;
}

.cabecera .barra_principal .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_principal .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cabecera .barra_principal .logo {
  width: 20%;
  padding: 1rem;
}

.cabecera .barra_principal .logo img {
  width: 100%;
}











.cabecera .barra_menu {
  background-image: url('../images/PRINCIPAL (5).png') !important;
  background-size: 100% 100%;
  min-height: 95rem !important;
  width: -webkit-fill-available;
}

.cabecera .barra_menu .logo {
  width: 15% !important;
  padding: 1rem;
}

.cabecera .barra_menu .logo img {
  width: 65%;
}

.cabecera .barra_menu .menu_principal {
  width: 55% !important;
  justify-content: center;
  padding-bottom: 10%;
}




.cabecera .barra_menu .buscar .imagen {
  height: 2rem;
  border-radius: 25px;
  background-color: white;
  margin-left: -1.5rem;
}

.cabecera .barra_menu .buscar .imagen img {
  height: 60%;
  margin-left: 1rem;
  margin-right: 1rem;
}


.menu_principal ul {
  margin: 0;
}

.menu_principal ul li {
  text-decoration: none;
  list-style: none;
  padding: 0rem 2rem;
  text-transform: uppercase;
}

.menu_principal ul li a {
  color: #ffffff;
  font-family: "bebas";
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 3rem !important;
}

.menu_principal ul li:hover a {
  color: black;
}


.nav-social{
  position: absolute;
  right: 9% !important;
  top: 7% !important;
  padding: 1rem;
  display: flex;
}
.nav-social img{
  height: 3rem !important;
}


.navbar-nav {
  display: contents;
}


/* 
*******************************************************************************************
--------------------------------------  contenido -----------------------------------------   
*******************************************************************************************
*/
.page-template-template-homepage .contenido {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio {
  width: 100%;
}

.page-template-template-homepage .contenido #inicio img {
  width: 100%;
}

.page-template-template-homepage .contenido #iconos {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem;
  margin-top: 2rem;
}

.page-template-template-homepage .contenido #iconos a {
  height: 10rem;
  width: 10rem;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  text-align: center;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  line-height: 100%;
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.page-template-template-homepage .contenido #iconos a img {
  width: 5rem;
  margin-bottom: 0.5rem;
}

.page-template-template-homepage .contenido #iconos a:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido, .page-template-template-homepage .contenido #nuevasofertas, .page-template-template-homepage .contenido #categorias {
  margin-top: 2rem;
  width: 100%;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento {
  width: 10rem;
  margin: 1rem;
  padding: 2rem;
  text-transform: uppercase;
  font-family: "arl";
  color: #061a7a;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  text-decoration: none;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento img {
  height: 5rem;
  margin-bottom: 1rem;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .varios {
  padding: 2rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento .vehiculos {
  height: auto;
  padding: 1rem 0;
}

.page-template-template-homepage .contenido #categorias .lista .columna .grupo .elemento:hover {
  background-color: #d8d6d6;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.page-template-template-homepage .contenido #lomasvendido .productos, .page-template-template-homepage .contenido #nuevasofertas .productos {
  width: 95%;
  margin-top: 2rem;
  font-family: "arl";
}

.page-template-template-homepage .contenido #lomasvendido .productos .add_to_cart_button, .page-template-template-homepage .contenido #nuevasofertas .productos .add_to_cart_button {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link {
  position: relative;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .onsale, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .onsale {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .star-rating {
  display: none;
}

.page-template-template-homepage .contenido #lomasvendido .productos ul.products li.product .woocommerce-LoopProduct-link .price, .page-template-template-homepage .contenido #nuevasofertas .productos ul.products li.product .woocommerce-LoopProduct-link .price {
  color: #061a7a;
  font-weight: bolder;
  font-size: 1.3rem;
}

.page-template-template-homepage #page .storefront-breadcrumb {
  display: none !important;
}

.page-template-template-homepage #page main {
  padding-top: 0;
}

.page-template-template-homepage #page main #post-5 {
  display: none;
}

.page-template-template-homepage #content .col-full {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}
.negro{
  background-color: black;
  margin-bottom: 0rem;
}

.negro2{
  background-color: black !important;
  margin-bottom: 0rem;
  display: none !important;
}

.margenes thead tr td {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 4%;
    padding-bottom: 2%;
}

.margenes2 thead tr td {
  padding-left: 11% !important;
  padding-bottom: 4%;
}




.margenes22 thead tr td {
  padding-left: 11% !important;
  padding-bottom: 4%;
}


.margenes222{
  margin: inherit;
}

.margenes2{
  margin: inherit;
}


.margenes222 thead tr td {
  padding-left: 11% !important;
  padding-bottom: 4% !important;
}

.botonimagen{
  background-image:url('../images/SEGUNDAPAGINA-05.png');
  background-size: 100% 100%;
  min-height: 39rem !important;
}



#conta{
  background-image: url('../images/footer.png') !important;
  background-size: 100% 100%;
  min-height: 39rem !important;
}

#conocenos{
  background-image: url('../images/proposito.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#surf{
  background-image: url('../images/GALERIA.png') !important;
  background-size: 100% 100%;
  min-height: 35rem !important;
}

#campamento{
  background-image: url('../images/PATROCINADORES (1).png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#campamento2{
  background-image: url('../images/PROXIMAMENTE3.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#campamento3{
  background-image: url('../images/PROXIMAMENTE1.png') !important;
  background-size: 100% 100%;
  min-height: 75rem !important;
}

#donaciones{
  background-image: url('../images/jeje(2).png') !important;
  background-size: 100% 100%;
  min-height: 70rem !important;
}

#principal{
  background-image: url('../images/PRINCIPAL.png') !important;
  background-size: 100% 100%;
  min-height: 70rem !important;
}

/* 
*******************************************************************************************
-----------------------------------------  footer -----------------------------------------   
*******************************************************************************************
*/
#contacto {
  background-image: url(../images/exportado-292.png);
  background-size: 100% 100%;
  font-family: "mont";
  position: relative;
  min-width: 200px;
}

#contacto .garantia {
  position: absolute;
  width: 5rem;
  top: -2.5rem;
  right: 4rem;
}

#contacto .info1 .elemento {
  width: 20%;
  margin: 3%;
  font-family: "Montserrat";
  color: black;
  font-size: 0.9rem;
}

#contacto .info1 .elemento strong {
  width: 100%;
  margin: 1rem 0;
}

#contacto .info1 .elemento img {
  height: 4rem;
}

#contacto .info_contacto {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  font-family: "Montserrat";
  margin-bottom: 1rem;
  
}

#contacto .info_contacto h3 {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 2rem;
  color: #ffffff;
}

#contacto .info_contacto .contenedor {
  width: 100%;
}

#contacto .info_contacto .contenedor .enlaces {
  width: 60%;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace {
  width: 50%;
  margin: 0.55rem;
  color: white;
}

#contacto .info_contacto .contenedor .enlaces .grupo .enlace img {
  width: 2.5rem;
  margin-right: 1rem;
}

#contacto .info_contacto .contenedor .logostarjetas {
  width: 40%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#contacto .info_contacto .contenedor .logostarjetas img {
  width: 5rem;
  margin: 1rem;
}

/* para el footer */
.site-footer {
  padding: 0rem;
  background-color: white;
}

.site-info {
  padding: 0rem;
  margin: 0rem;
  font-family: "Montserrat";
  background-color: black;
}

footer .col-full {
  max-width: inherit;
  padding: 0rem;
  width: 100%;
  margin: 0rem;
}

.division{
  display: flex !important;
}


/*@media (max-width: 2300px) {
  .centrado{
    font-size: 3rem !important;
  }
  #conta{
    min-height: 31rem !important;
  }
}


@media (max-width: 2000px) {
  .cabecera .barra_menu .menu_principal {
    width: 52% !important;
  }
  
  .menu_principal ul li a {
    font-size: 1.5rem !important;
  }
  
  

  .centrado{
    font-size: 2.7rem !important;
  }

  #conta{
    min-height: 27rem !important;
  }

}*/

/*@media (max-width: 1900px) {

  #conta{
    min-height: 26rem !important;
  }

}*/


@media (max-width: 1750px) {
  .cabecera .barra_menu {
    min-height: 89rem !important;
  }
  #conocenos{
    min-height: 64rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 7% !important;
  }
  #surf{
    min-height: 32rem !important;
  }
  #campamento{
    min-height: 67rem !important;
  }
  .title__section3 h2 {
    font-size: 3rem !important;
  }
  .title__section4 input {
    width: 10% !important;
  }
  .title__section5 input {
    width: 10% !important;
  }
  .juas2{
    padding-top: 14rem !important;
  }
}

@media (max-width: 1590px) {

  .cabecera .barra_menu {
    min-height: 77rem !important;
  }
  #conocenos{
    min-height: 57rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 8% !important;
  }
  .margenes2 thead tr td img{
    width: 30rem !important;
  }
  #surf{
    min-height: 31rem !important;
  }
  #campamento{
    min-height: 60rem !important;
  }
  #conta{
    min-height: 35rem !important;
  }
  .title__section3 h2 {
    font-size: 2.5rem !important;
    margin-left: 65rem !important;
  }
  .juas2{
    padding-top: 13rem !important;
  }

}


@media (max-width: 1450px) {
  
  .menu_principal ul li a {
    font-size: 2.5rem !important;
}
.title__section3 h2 {
  margin-left: 58rem !important;
}
}




@media (max-width: 1350px) {
  .cabecera .barra_menu {
    min-height: 68rem !important;
  }
  #conocenos{
    min-height: 50rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 8% !important;
  }
  .margenes2 thead tr td img{
    width: 27rem !important;
  }
  #surf{
    min-height: 26rem !important;
  }
  #campamento{
    min-height: 53rem !important;
  }
  #conta{
    min-height: 32rem !important;
  }
  .title__section3 h2 {
    font-size: 2rem !important;
    margin-left: 55rem !important;
  }
  .juas2{
    padding-top: 13rem !important;
  }
}

@media (max-width: 1225px) {
  .menu_principal ul li a {
    font-size: 2rem !important;
}
  
  #conta{
    min-height: 31rem !important;
  }
  .title__section3 h2 {
    font-size: 2rem !important;
    margin-left: 48rem !important;
  }
  .juas2{
    padding-top: 14rem !important;
  }
}


@media (max-width: 1120px) {
  .menu_principal ul li a {
    font-size: 2rem !important;
}
.cabecera .barra_menu {
  min-height: 55rem !important;
}
#conocenos{
  min-height: 41rem !important;
}
.margenes2 thead tr td {
  padding-left: 9% !important;
}
.margenes2 thead tr td img{
  width: 22rem !important;
}
#surf{
  min-height: 21rem !important;
}
#campamento{
  min-height: 43rem !important;
}
  #conta{
    min-height: 25rem !important;
  }
  .title__section3 h2 {
    font-size: 2rem !important;
    margin-left: 48rem !important;
  }
  .juas2{
    padding-top: 9rem !important;
  }
}



@media (max-width: 1075px) {
  .title__section3 h2 {
    font-size: 2rem !important;
    margin-left: 42rem !important;
  }
}




@media (max-width: 768px) {
  .cabecera .barra_menu {
    min-height: 37rem !important;
  }
  #conocenos{
    min-height: 27rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 10% !important;
  }
  .margenes2 thead tr td img{
    width: 14rem !important;
  }
  #surf{
    min-height: 15rem !important;
  }
  #campamento{
    min-height: 30rem !important;
  }
    #conta{
      min-height: 17rem !important;
    }
    .title__section3 h2 {
      font-size: 1.5rem !important;
      margin-left: 31rem !important;
      padding-top: 0.4rem !important;
    }
    .juas2{
      padding-top: 6rem !important;
    }
}


@media (max-width: 414px) {
  .cabecera .barra_menu {
    min-height: 21rem !important;
  }
  #conocenos{
    min-height: 15rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 10% !important;
  }
  .margenes2 thead tr td img{
    width: 14rem !important;
  }
  #surf{
    min-height: 8rem !important;
  }
  #campamento{
    min-height: 18rem !important;
  }
    #conta{
      min-height: 14rem !important;
    }
    .title__section3 h2 {
      font-size: 1.5rem !important;
      margin-left: 5rem !important;
      padding-top: 0.4rem !important;
    }
    .juas2{
      padding-top: 4rem !important;
    }
    .title__section4 input {
      width: 21% !important;
      height: 100%;
    }
    .title__section5 input {
      width: 21% !important;
      height: 100%;
    }
  .negro{
    display: none !important;
  }
  .negro2{
    background-color: black !important;
    display: inherit !important;
  }

  .margenes22 thead tr td {
    padding-left: 8% !important;
    padding-bottom: 4%;
  }


  .margenes222 thead tr td {
    padding-left: 32% !important;
    padding-bottom: 4% !important;
    
  }

  
  .margenes222 thead tr td img{
    width: 9.5rem !important;
    
  }
}



@media (max-width: 375px) {
  .cabecera .barra_menu {
    min-height: 19rem !important;
  }
  #conocenos{
    min-height: 14rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 10% !important;
  }
  .margenes2 thead tr td img{
    width: 14rem !important;
  }
  #surf{
    min-height: 7rem !important;
  }
  #campamento{
    min-height: 15rem !important;
  }
    #conta{
      min-height: 13rem !important;
    }
    .title__section3 h2 {
      font-size: 1.5rem !important;
      margin-left: 5rem !important;
      padding-top: 0.4rem !important;
    }
    .juas2{
      padding-top: 4rem !important;
    }
    .title__section4 input {
      width: 21% !important;
      height: 100%;
    }
    .title__section5 input {
      width: 21% !important;
      height: 100%;
    }
  .negro{
    display: none !important;
  }
  .negro2{
    background-color: black !important;
    display: inherit !important;
  }

  .margenes22 thead tr td {
    padding-left: 8% !important;
    padding-bottom: 4%;
  }


  .margenes222 thead tr td {
    padding-left: 29% !important;
    padding-bottom: 10% !important;
    
  }

  
  .margenes222 thead tr td img{
    width: 9.5rem !important;
    
  }
}





@media (max-width: 360px) {
  .cabecera .barra_menu {
    min-height: 19rem !important;
  }
  #conocenos{
    min-height: 14rem !important;
  }
  .margenes2 thead tr td {
    padding-left: 10% !important;
  }
  .margenes2 thead tr td img{
    width: 14rem !important;
  }
  #surf{
    min-height: 7rem !important;
  }
  #campamento{
    min-height: 15rem !important;
  }
    #conta{
      min-height: 13rem !important;
    }
    .title__section3 h2 {
      font-size: 1.5rem !important;
      margin-left: 5rem !important;
      padding-top: 0.4rem !important;
    }
    .juas2{
      padding-top: 4rem !important;
    }
    .title__section4 input {
      width: 21% !important;
      height: 100%;
    }
    .title__section5 input {
      width: 21% !important;
      height: 100%;
    }
  .negro{
    display: none !important;
  }
  .negro2{
    background-color: black !important;
    display: inherit !important;
  }

  .margenes22 thead tr td {
    padding-left: 8% !important;
    padding-bottom: 4%;
  }


  .margenes222 thead tr td {
    padding-left: 29% !important;
    padding-bottom: 10% !important;
    
  }

  
  .margenes222 thead tr td img{
    width: 9.5rem !important;
    
  }
}
/*@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 5rem;
  }
  .page-template-template-homepage .contenido #categorias .lista .columna {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #contacto .info_contacto .contenedor .enlaces, #contacto .info_contacto .contenedor .logostarjetas {
    width: 90%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  #conta{
    background-image: url('../images/jeje.png') !important;
    min-height: 24rem !important;
  }
  .title__section img {
    width: 25% !important;
  }
  .centrado{
    font-size: 1.5rem !important;
    left: 12% !important;
  }
}

@media (max-width: 667px) {
  #conta{
    min-height: 22rem !important;
  }
  .centrado{
    font-size: 1.3rem !important;
  }
}

@media (max-width: 567px) {
  #conta{
    min-height: 19rem !important;
  }
  .centrado{
    font-size: 1.1rem !important;
  }
}

@media (max-width: 480px) {
  #conta{
    min-height: 16rem !important;
  }
  .centrado{
    font-size: 1rem !important;
  }
  .cabecera .barra_menu .logo {
    width: 20% !important;
  }
}

@media (max-width: 400px) {
  #conta{
    min-height: 14rem !important;
  }
  .centrado{
    font-size: 0.9rem !important;
  }
}*/


/*# sourceMappingURL=tech.css.map */